<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\uniwes.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
<environmentVariables>
  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
</environmentVariables>
</aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<!--ProjectGuid: 89B640BA-325D-44B0-AA79-660939BF3D70-->