/* Demo CSS - You do not need this css in your own slider */



#slidercontainer{
	margin:0 auto;
	border: 5px solid #ffdd00;
	background-color: #ffdd00;
	margin-bottom: 20px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 40px;
}
/*-------NEXT & BACK------ */

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#ffdd00;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}
/*-------NUMBERS------ */
ol.bjqs-markers li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin: 8px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}