.products
{
    width:100%;
}
.products .prodItems
{
    width: 30%;
    vertical-align: top;
}

.prodItems img
{
    border: 1px solid #999; padding: 4px; background-color: #fff; margin-bottom: 15px; width: 210px; height: 138px;
}
#divPostsLoader
{
    text-align:center !important;
}
#divPostsLoader img
{
        margin: 10px 0;
}
.loadBtn
{
    background: #e7463b !important; 
    font-size: 14px !important;
    color: #fff !important;
}
.loadBtn:hover {
	color: #fff !important;
	background: #000 !important;
}
.loadBtn:active {
	color: #fff !important;
	background: #333 !important;
}
