.cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-size:13px;	
	float: left;
	}
.cssmenu ul{
	height: 30px;
	list-style:none;
	margin:0;
	padding:0;
	}
.cssmenu li{
	float:left;
	padding: 0px;
	}
.cssmenu li a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px !important;
        font-weight: bold;
        color: #fff;
        display:block;
        margin:0px;
        padding: 3px 15px !important;
        text-align:right;
        text-decoration:none;
        height: 20px;
        text-transform: uppercase;
        /*text-shadow: 1px 1px 1px #000, 3px 3px 5px #333;
        border-left: 1px dotted #5e712d;
        */
        }
/*.cssmenu li a{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	font-weight: bold;
	color:#333;
	display:block;
	margin:0px;
	padding:  5px 15px !important;
	text-align:center;
	text-decoration:none;
	height: 15px;
	
	}*/
/*.cssmenu li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px !important;
	font-weight: bold;
	color: #333;
	display:block;
	margin:0px;
	padding:  5px 15px;
	text-align:right;
	text-decoration:none;
	height: 20px;
	text-transform: uppercase;
	}*/
.cssmenu li a:hover, .cssmenu ul li:hover a{
	color: #000;
	text-decoration:none;
	background: #ffdd00;
	border-top: #999 solid 0px;
	border-bottom: #999 solid 0px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-khtml-border-radius: 1px;
	height: 30px;
	}
	
.active{
	color:#d94327;
	text-decoration:none;
	background: url('../files/images/menu.jpg') bottom center no-repeat;
	}
	
	
/*SUBMENU HERE _-------------------------------*/	
	
.cssmenu li ul{
	background:#d94327;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px solid #434343;
	position:absolute;
	width: 150px;
	z-index:1200;
	/*
	-moz-box-shadow:    1px 1px 1px 1px #dfdfdf;
  -webkit-box-shadow: 1px 1px 1px 1px #dfdfdf;
  box-shadow:         1px 1px 1px 1px  #dfdfdf;
	/*top:1em;
	/*left:0;*/
	}
.cssmenu li:hover ul{
	display:block;
	
	}
.cssmenu li li {
	background:url('files/images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;

	}
.cssmenu li:hover li a{
	background:none;
	background-color: #d94327;
	padding-top: 10px;
	color: #fff;
	border-bottom: 1px solid #c92f12;
	text-align: left;
	
	}
.cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 8px;
	text-align:left;
	}
.cssmenu li ul a:hover, .cssmenu li ul li:hover a{
	background:#c92f12;
	border:0px;
	color:#fff;
	text-decoration:none;
	}
.cssmenu p{
	clear:left;
	}

#footer .RadMenu
{
    float:none !important; color: #2A2A2A;
font-family: Arial, Helvetica, sans-serif; font-size: 10px;
}
#footer .RadMenu .rmHorizontal .rmText
{
    padding: 0;
}