 
.RadMenu .rmVertical .rmText { 
   cursor:pointer !important;
    min-width: 100px !important;
    font-size: 13px !important;
 text-align: center !important;
    vertical-align: middle;
    line-height: 20px !important;
    height: 30px !important;
    text-shadow: none !important;
    background-image: none !important;
    background-color: #3399FF !important;
}
.RadMenu .rmVertical .rmText:hover {
    color: #4F4F4F;
}