
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v2/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(https://themes.googleusercontent.com/static/fonts/oxygenmono/v1/BzV4DVOwAgGelLT9EC5xyobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/*Rad Menu */
.RadMenu_Default .rmLink {
  
    background-image: none !important;
    cursor: pointer !important;
}

.RadMenu_Default .rmHorizontal .rmText
{  
		font-size: 13pt !important;
	font-family: 'Oxygen', sans-serif !important;
	font-weight: bold !important;
	position: relative !important;
	text-shadow: 0px 2px 2px #870101 !important;
	text-align:center;  
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */

nav
{
    height: 40px;
    width: 100%;
    background: #3399FF;
    font-size: 13pt;
    font-family: Oxygen, 'sans-serif !important';
    font-weight: bold;
    position: relative;
    vertical-align: top;
}
nav div ul {
	padding: 0;
	margin: ;
	width: 100%;
	
}
nav div{	font-family: 'Oxygen', sans-serif !important;
  		width: 100%;
  		display: block;
  		 
  	}
nav div ul li { min-width:100px;
	display: inline !important;
	float: left !important;
}
nav a { cursor:pointer !important;
	color: #fff;
	display: inline-block;
	padding: 0 20px 0 20px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a {
	border: none !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active { 
	background-color:;
  color: #4F4F4F;
 }

nav a#pull {
    display: none;
    background-color: #0099FF;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav div {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav div ul li {
  		width: 50%;
  		  		position: relative;
  	}
  	nav div ul li a {width: 100% !important;
		border-bottom: 1px solid #900 !important;
		border-right: 1px solid #900 !important;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
    .loginDisplay {position:relative; float:left;
}
	nav {
		border-bottom: 0;
	}
	nav div {
		display: none;
		height: auto;
	}
	nav a
	{	padding: 0px;}
	nav a#pull {
        display: block;
        background-color: #0066CC;
        width: 100%;
        position: relative;
    }
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		/*position: absolute;*/
		margin-right: 15px;  float:right;
	margin-top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav div ul li {
		display: block;
		float: none;
		width: 100%;
	}
	nav div ul li a {
		border-bottom: 1px solid #576979;
	}
}
.RadSplitter {
    display: block;
}