@charset "UTF-8";
/* CSS Document */


body {
	margin: 0px;
	background: #fff url(../images/bg.jpg) repeat-x 120px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}
/*.content ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}*/
#slide {
	background-color: #F9F9F9;
	padding-top: 0px;
}
.main {
	width: 1000px;
	margin: 0px auto;
	overflow: auto;
}
#header {
	background: #fff url(../images/header.png) repeat-x bottom center;
	overflow: auto;
	/*background: url(../images/header.jpg) no-repeat center top;*/
	margin-bottom: 14px;
}
#headerdesign {
	background:  url(../images/headerdesign.png) no-repeat bottom center;
	padding: 0px;
	margin-bottom: 5px;/*background: url(../images/header.jpg) no-repeat center top;*/
}
#navigation {
	float: right;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px;
	text-align: right;
	background: transparent url(../images/navigation.png) no-repeat top left;/*-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0;*/
}
#logo {
	float: left;
	width: 130px;
	margin-top: 25px;
}
#topper {
	float: right;
	width: 400px;
	padding: 20px 0;
	text-align: right;
	border-bottom: 0px solid #CCC;
	margin-bottom: 0px;
	font-family: 'Archivo Black', sans-serif;
	color: #444b4b;
	font-size: 12px;
}
/* content*/
#content {
	min-height: 400px;
	overflow: hidden;
	padding: 0;
}
/* MODULES*/
#grid-2a {
	float: left;
	width: 760px;
}
#grid-2b {
	float: right;
	width: 211px;
}
#grid-3a {
	float: left;
	width: 220px;
}
#grid-3b {
	float: left;
	width: 540px;
	margin-left: 10px
}
#grid-3c {
	float: right;
	width: 220px;
}
/* MODULES BOX*/
.box {
	margin: 0 0 10px 0;
	background: url(../images/box.png);
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	border: 1px solid #d1d5d5;
}
.box-yellow {
	background: #ffdd00;
	margin: 0 0 10px 0;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	border: 1px solid #d1d5d5;
}
.box-gray {
	background: #d8dbdc;
	margin: 0 0 10px 0;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	border: 1px solid #d1d5d5;
}
.box-feature {
	background: #ffdd00 url(../images/bg-feat.png) no-repeat top left;
	padding: 0px 15px;
	overflow: auto;
}
.box-feature-bottom {
	background:  url(../images/bg-feat-bottom.png) no-repeat top left;
	height: 30px;
	margin-bottom: 30px;
	overflow: auto;
}
.box-flip {
	background:url(../images/page-flip.png) right top;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	padding: 10px;
	border: 1px solid #d1d5d5;
}
.box-flip-content {
	margin: 0 0 10px 0;
	background: url(../images/box.png);
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	border: 1px solid #d1d5d5;
}
/*-----font sytles-----*/
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-align: left;
	line-height: 23px;
	margin: 0px 0px 10px 0px;
	text-transform: none !important;
}
a {
	color: #000;
	font-weight: bold;
	margin: 0px 0;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #d94327;
	margin: 0px;
	font-weight: bold;
	text-decoration: none;
}
h1 {
	font: normal 22px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: uppercase;
	margin: 0px;
}
h2 {
	font: normal 22px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: uppercase;
	background: url(../images/line.png) bottom left no-repeat;
	padding: 0px 0px 20px 0px;
}
h3 {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #666;
	text-transform: uppercase;
	margin-bottom: 10px;
}
h4 {
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;
}
/*-----FEATURED PRODUCT TITLE-----*/
h5 {
	font: normal 22px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: uppercase;
	margin: 10px 0px 15px 10px;
}
/* Header Logo, Search, Call Us Etc.*/


#details-right {
	float: right;
	margin-top: 10px;
	width: 225px;
}
.searchbox {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #F3F3F3;
	padding: 4px;
	border: #000 1px solid;
	color: #434343;
	width : 250px;
}
.searchbutton {
	/*line-height: 31px;*/
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;	
    border:none;padding:0 7px;height:23px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #181816;
    /*width: 30px;*/
}
.searchbutton a {
	padding-top: 10px !important;
}
.searchbutton:hover {
	color: #fff;
	background: #666;
	font-size: 12px;
}
.searchbutton:active {
	color: #999;
}
/**----------------------------BUTTON DARK BOX----------------------------**/

.button {
	font-family:Arial, Helvetica, sans-serif;
	background: #3c3c3c;
	/*line-height:45px;*/
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	margin-left: 5px;
	border: solid 0px #6b6b63;
}
.button:hover {
	color: #fff;
	background: #000;
	font-weight: bold;
	margin-left: 5px;
}
.button:active {
	color: #fff;
	background: #333;
	font-weight: bold;
	margin-left: 5px;
}
/*--------FOOTER---------*/
#footer {
	background: #d8dbdc;
	border-top: #d8dbde 2px solid;
	min-height: 20px;
	color: #2A2A2A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 20px 0;
	line-height: 16px;
	text-align: center;
}
#footer ul {
	float: none;
	padding-left: 120px !important;
	margin: 0px 0 30px 0px;
	list-style-type:none;
	width: 50%;
	margin: auto;
}
#footer a {
	float:left;
	text-decoration:none;
	color: #798383;
	padding: 0px 10px;
}
#footer a:hover {
	color: #d94327;
}
#footer li {
	display:inline;
}
.img-left {
	float: left;
	margin: 0 10px 10px 0
}
/*------------------------------- LIST------------------------------- */
.details ul {
	list-style-image: url('../images/arrow.png');
	margin-left: 19px;
	padding: 0px;
}
.details li {
	padding: 4px 5px;
	border-bottom: solid 0px #d9800c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A1A1A1;
	text-transform: uppercase;
}
.details li a {
	color: #333 !important;
	font-weight: normal !important;
}
.details li a:hover {
	color: #9c9c9c !important;
}
/*------------------------------- NEWS LIST------------------------------- */
.newslist ul {
	list-style-image: url('../images/arrow.png');
	margin-left: 0px;
	padding: 0px;
}
.newslist li {
	padding: 4px 5px;
	border-bottom: dotted 1px #567004;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	padding: 10px 0px;
}
.prodbox table tr td {
	border: #CCC 0px solid;
	padding: 10px;
}
/*------------------------------- CONTACT US FORM------------------------------ */

label {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #666;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.forminput {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #F3F3F3;
	padding: 4px;
	border: #999 1px solid;
	color: #434343;
	width : 250px;
	margin: 5px 0 20px 0;
}
.formtextarea {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #F3F3F3;
	padding: 4px;
	border: #999 1px solid;
	color: #434343;
	width : 400px;
	height: 190px;
	margin: 5px 0 20px 0;
}
/*slider*/
.jcarWrapper
{
    width: 100% !important;
    margin: 0 auto !important;
	padding: 5px 0px !important;
	background: url(../images/box.png);
	border: 1px solid #CCC !important;
	-moz-border-radius: 8px !important;
	-webkit-border-radius: 8px !important;
	border-radius: 8px !important;
	-khtml-border-radius: 8px !important;
	margin-bottom: 20px !important;
}
.carbtn
{
    display: block !important;
    float: left !important;
    width: 28px !important;
    height: 74px !important;
    text-decoration: none !important;
}
a.prev, a.next 
{
	margin: 0 !important;
}
a.prev
{
	background: url("../images/arrow-back.png") center no-repeat !important;
}
a.next
{
	background: url("../images/arrow-next.png") center no-repeat !important;
}
.prodPhotos
{
    float: left !important;
	border: 1px solid #CCC !important;
	
}
.prodPhotos img
{
    width: 100px !important;
	height: 74px !important;
}
/* Search */
.searchResult {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;	
	line-height: 23px;
	margin: 0px;
	text-transform: none !important;
}
.searchTitle
{
    color:#003366;
}
.contenteditor
{
    border-spacing: 0px !important;
}
/*Side menu*/
.sidemenu-active 
{
    color: #016917 !important; 
}
/* Fancybox plugin - pop up window of product photos */
#fancybox-wrap {
    z-index: 7000 !important;
}
#fancybox-close {
    z-index: 7003 !important;
}
.proddetails {
    /*width: 100%;*/
    padding: 1px 5px 5px 5px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.proddetails .tab {
    display: block;
    height: 35px;
    margin-top: 4px;
    padding-left: 20px;
    font: bold 12px/35px Arial, sans-serif;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2b3b06;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .15);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .45);
    background: #ffe65e;
    background: -moz-linear-gradient(top, #ffe65e 0%, #ffdd00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe65e), color-stop(100%, #ffdd00));
    background: -webkit-linear-gradient(top, #ffe65e 0%, #ffdd00 100%);
    background: -o-linear-gradient(top, #ffe65e 0%, #ffdd00 100%);
    background: -ms-linear-gradient(top, #ffe65e 0%, #ffdd00 100%);
    background: linear-gradient(to bottom, #ffe65e 0%, #ffdd00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe65e', endColorstr='#ffdd00', GradientType=0 );
}
.proddetails .content {
    margin: 20px;
}