/*wpZoneStandard*/
 
 
.wpbody
{
	border:0px;
	width:100%;

}

.wpheader
{
	text-align:center;
	 font-size: 12px; 
	color: gray; 
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; 
	}

.wppartchrome
{
    /* border:0px; min-height:150px !important; vertical-align:top; padding-bottom: 0px;
  min-height: 150px !important;*/
margin-bottom:5px !important;
    vertical-align: top;
}

.wpparttitle
{
    text-align: left; /*background-image: url( 'images/but.png' );*/
    background-repeat: repeat-x;
    background-position: center top;
    width: 100%;
    padding: 2px;
    font-family: "Trebuchet MS" , Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: #F2F2F2;
    opacity: 0.9;
    cursor: pointer;
    overflow: visible;
}
.wpparttitle img
{
    padding: 1px;
}
.wpparttitle:hover
{
    opacity:1; 

  
}
.wpparttitle td a
{
	padding:3px;
}

.wppart	
	{padding: 0px !important;
		text-align:left; 
 }
		
.reModule
{
	height:10px auto;
}
	
	
	#wpcontent
{
width: 100%;
padding: 0px; 
vertical-align:top;
 
}
#wpcontent:hover
{
z-index:100000;
}
.wpwrapper
{
 
 width: 100%;
margin:0 auto;
padding: 0px; 
vertical-align:top;
}

.wpcol-top
{	
	 
width:100%; padding:0px; vertical-align:top; 
	}
.wpcol-right-body
{	  
 width:75%;  vertical-align:top;max-width:730px;
	}
	.wpcol-left-body
{	
	   
  width:75%;  min-height:100px;vertical-align:top;
	}
	.wpcol-right
{	
 width:25%;  vertical-align:top;
	}
	.wpcol-left
{	
 width:25%;min-height:100px; vertical-align:top; 
 
	}
	
.wpcol-bottom
{	
	 
  width:100%;  vertical-align:top;
	}
	
	.wpcol-a1
{	
	 width:24%;min-height:150px;  vertical-align:top;
	}
.wpcol-a2
{	
	 width:50%;min-height:150px;vertical-align:top;
	}
.wpcol-a3
{	
 width:24%;min-height:150px;  vertical-align:top;
	}
	
	/*login webpart*/
	
	 
	.login-username
{
    border: 1px solid #3cba93;
    width: 150px;
}
 .login-password
 {
    border: 1px solid #3cba93;
    width: 150px;
}
.login-btn
{
    background-color: #3e3e3e; border: solid 1px #3cba93; padding: 4px; width: 50px;
                            text-align: center;
}
 
 .itmteaser{font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height: 21px; 
 }